@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#hero{
    width: 100%;
    height: 100vh;
    background: url(./image.jpg) no-repeat center/cover;
    color: white;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.container .info p{
    font-size: 1rem;
    max-width: 55%;
    margin: 0 auto;
}

a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: .5em 2em;
    margin-top: 2rem;
    transition: .3 ease-in;

}
a:hover{
    background-color: white;
    color: #ee6c09;
    
}
 